fastapi[all]
requests
uvicorn[standard]
fastapi-utils
asgi-correlation-id
psutil
prometheus-fastapi-instrumentator
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp
pyyaml
