version: "3.3"

services: 
  imalive-api:
    image: comworkio/imalive-api:{{ imalive_api_version }}-x86
    container_name: imalive-api
    restart: always
    env_file:
      - .env.imalive
    volumes:
      - {{ node_home }}/imalive.yml:/app/imalive.yml:ro
    ports: 
      - {{ imalive_port }}:8080
